<h1>Show Summary</h1>

<div class="row">
  <div class="col-md-8">
    <div class="lead">
    Topic: <%= @topic.description %>
    </div>
    <p >Post title: <%= @post.title %></p>
    <p>Summary: <%= @summary.content %> </p>
  </div>
</div>




