<% if @comment.valid? %>
  $('.js-comments').append("<%= escape_javascript(render partial: 'comments/comment', locals: {post: @post, comment: @comment}) %>");
  $('.new-comment').html("<%= escape_javascript(render partial: 'comments/form', locals: {post: @post, comment: @new_comment}) %>");
<% else %>
  $('.new-comment').prepend("<div class='alert alert-danger'><%=flash.discard(:error)%></div>");
<% end %>