<% if @comment.destroyed? %>
  $("#comment-" + <%= @comment.id %>).fadeOut("slow");
  $('.js-comments-count').html("<%=pluralize(@comment.user.comments.count, 'comment') %>");
<% else %>
  //changed flash[:error] to flash.discard to ensure given message is displayed once
  $("#comment-" + <%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash.discard(:error) %></div>");
<% end %>